apiVersion: apps/v1
kind: Deployment
metadata:
  name: real-devops-app
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: real-devops
  template:
    metadata:
      labels:
        app: real-devops
    spec:
      containers:
        - name: web
          image: sandeep3005/real-devops:ba81d786139b203eef029d1fa2475057657d8a90
          ports:
            - containerPort: 80
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
